<?xml version="1.0"?>

<model>
  <name>3d_lidar</name>
  <version>1.0</version>
  <sdf version="1.5">3d_gpu_lidar.sdf</sdf>
  
  <author>
   <name>ryrobotics</name>
   <email>wry0117@outlook.com</email>
  </author>

  <description>
    This is a model of a 3D LIDAR for Air Bumper simulation.
  </description>

</model>
